.home_elements {
  display: flex;
 
  position: relative;
}

.starShips {
  /* background-color: rgba(53, 68, 53, 0.185);
  border: solid black 1px; */
  /* border-radius: 10px; */
  
  text-align: center;
  margin: 10px 0px 10px 0px;
  border-top: solid 2px rgba(169, 169, 169, 0.63);
}

#beatBank {
  /* border: solid black 1px; */
  text-align:center;
  /* background-color: goldenrod; */
  border-radius: 10px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* flex: 10%; */

  width: 280px;
}

#beatBankHome{
  flex:10%;
}

.recTabs {
  width: 100%;
  /* border: solid black 1px; */
  text-align:center;
  /* background-color: goldenrod; */
  border-radius: 10px;
  margin: auto;
 
 
}

#heading {
  display: flex;
 
}

.tabs {
  text-align: center;
  flex: 80%;
 
  margin-top: 20px;
  border-radius: 10px;
 
}

.bigApp{
  display: flex;
  position: relative;
}

#youTube {
  flex:30%;

  margin-right:80px;
}

#tabSearch {
  flex: 50%;
 
}



#header {
  font-size: 40px;
  /* background-color: darkblue; */
  color:rgba(167, 164, 164, 0.808);
  /* border: solid black 1px; */
  border-radius: 10px;
}

#rec_tabs_line{
  position: relative;
  display: flex;
}
.each_rec_song {
  width:150px;
  height:180px;
  text-decoration: none;
  margin: auto;
 
}


p {
  font-size: 15px;
}

#beatSpeed {
  font-size: 12px;
  font-weight: 900;
}

.tab_image {
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 100%;
}

.song_title {
  color: blue;
  margin-bottom: 0px;
}

.song_artist {
  color: black;
}

#anime_girl{
  width:200px;
  height:200px;
  object-fit: cover;
}

#featured_tabs {
  text-align: center;
}

.speed {
 /* background-color: blueviolet; */
 margin: auto;

}

.speed_bar {
  flex:60%;
  margin:auto;
}

.slider {
  flex:40%;
}

.beat {
  margin: 8px;
  background-color: rgba(218, 218, 218, 0.808);
  border-radius: 10px;
  position: relative;
}

.profilepic{
  display: inline-block;
 margin: 0px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
}

.tabScroll{

  display:flex;
  position: relative;

}

.tabScroll1 {
  flex:10%;
}

.tabScroll2 {
  flex:50%;
  height: 350px;
  overflow-y: scroll;
  margin-left: 40px;
}

.tabScroll3{
  flex:10%;
  margin-left: 40px;
}



#comment {
  font-size: 10px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  /* visibility: hidden; */

}

.commentDisplay{
  background-color: rgba(169, 169, 169, 0.527);
  width: 80%;
  margin: auto;
  border-radius: 10px;
 
  
}

.commentsParent {
  display: flex;
  position: relative;
}

.commentChild1 {
  flex:20%;
  color: rgba(94, 94, 94, 0.822);
}
.commentChild2 {
  flex:80%;

}

.nav_display{
  display:inline;
  position:relative;
}

#bpm {
  background-color: rgba(255, 145, 0, 0.473);
  width:80px;
  display: inline-block;

}

.speedDaddy{
  text-align: center;
  position: relative;
  
}

.trashButton {

 
  border: none;
  font-size: 10px;
  margin-left: 5px;
  border-radius: 5px;
 
}

.trashButton1 {

 
  border: none;
  font-size: 10px;
  margin-left: 5px;
  border-radius: 5px;
   display: none;
}
 .chooseFile{
   font-size: 8px;
   height: 20px;
   width:40px;
   color: rgba(0, 0, 0, 0);
   margin-right: 50px;
   
 }

 .submitPhoto {
  font-size: 8px;
  height: 20px;
  width:40px;
  color: rgba(0, 0, 0, 0);
  margin-right: 50px;
  
}

.saveButton {
  border: none;
  font-size: 10px;
  margin-left: 5px;
  border-radius: 5px;
  flex:20%;
}

#inputComment {
  font-size: 10px;
}

.commentFont {
  font-size: 10px;
}

.tabResultName {
  width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 80%; 
}

.tabLink {
  display: flex;
}

