.home_elements {
  display: flex;
  justify-content: space-between;
}

.starShips {
  background-color: rgba(53, 68, 53, 0.185);
  border: solid black 1px;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.beatBank {
  border: solid black 1px;
  text-align:center;
  background-color: goldenrod;
  border-radius: 10px;
}

.recTabs {
  border: solid black 1px;
  text-align:center;
  background-color: goldenrod;
  border-radius: 10px;
}

.tabs {
  text-align: center;
}

#header {
  background-color: darkblue;
  color: yellow;
  border: solid black 1px;
  border-radius: 10px;
}